<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="https://www.google.com/imgres?q=image%20of%20box%20sign%20in%20yellow%20and%20red%20colour%20e%20commerce%20website%20&imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-photo%2F3d-render-sunglasses-shopping-cart-illustration-design_460848-6286.jpg&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fecommerce-yellow&docid=kDJn0fcCWutbCM&tbnid=tz1r27TlD05mTM&vet=12ahUKEwiT1dLO45CKAxW7d2wGHT5oCFAQM3oECGQQAA..i&w=626&h=451&hcb=2&ved=2ahUKEwiT1dLO45CKAxW7d2wGHT5oCFAQM3oECGQQAA" alt="">
                <h6>All products</h6>
            </a>

        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flipcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>

        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flipcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>

        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flipcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>Jewllery</h6>
            </a>

        </div>
    </div>
</div>